* {
    margin: 0;
}
body {
    background-color: lightslategray;
}
.container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
}
.titleParent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    margin-bottom: 30px;
}
#inputParent {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
    flex-direction: column;
    gap: 15px;
    padding: 15px;

}
#input {
    width: 60vh;
    height: 20px;
    border-radius: 10px;
    border: 1px solid;
}
#btnInput {
    width: 60vh;
    height: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
}
.tableParent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableParent th {
    padding: 15px;
    background-color: black;
    color: white;
}
.tableParent table {
    border: 1px solid;
}
.tableParent table tbody {
    padding: 15px;
    background-color: white;
    text-align: center;

}